@charset "UTF-8";

@import 'abstracts/mixins';

@import 'base/base',
'base/typography';


.stock {
    padding: 10rem 0;
    background: #FFFFFF;
    min-height: 100vh;
    color: #fff;
    color: #101010;
}

.table {
    max-width: 175rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12% auto 12%;
    grid-gap: 2rem;
    position: relative;

    &__hor {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;

        .table__info {
            flex: 1;
            text-align: center;
        }
    }

    &__vert {
        .table__info {
            height: 17rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            &-elem {
                display: table;
                padding: 1rem;
                border-radius: 5px;

                &.--plus {
                    background: #B5E3C1;
                }

                &.--minus {
                    background: #FFD5CC;
                }

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    &__info {
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__desig {
        position: absolute;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 600;
        z-index: 2;

        &.--x {
            bottom: -5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &.--y {
            top: 50%;
            left: -5rem;
            transform: translateY(-50%) rotate(-90deg);
        }

        &.--volume {
            right: 0;
            top: -4rem;
        }
    }

    &__t {
        padding: 0 0 3rem 3rem;
        border: 1px solid rgba(16, 16, 16, .3);
        border-top: none;
        border-right: none;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 1.6rem;
            height: 1rem;
            position: absolute;
            z-index: 2;
            background: url('../img/arr.svg')no-repeat center/cover;
        }

        &::before {
            top: -.5rem;
            left: 0;
            transform: translateX(-50%);
        }

        &::after {
            bottom: -.5rem;
            right: -.7rem;
            transform: rotate(90deg);
        }
    }

    &__row {
        display: flex;
        flex: 1;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__cell {
        height: 17rem;
        flex: 1;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid transparent;
            border-radius: 10px;
            transition: all .3s;
            visibility: hidden;
            opacity: 0;
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &.--low {
            background: linear-gradient(65deg, #FFAA99 0%, rgba(255, 170, 153, 0) 100%);

            &::before {
                border-color: #CC2200;
            }
        }

        &.--below-average {
            background: linear-gradient(65deg, #FFEAE5 0%, rgba(255, 234, 229, 0) 100%);

            &::before {
                border-color: #CC2200;
            }
        }

        &.--average {
            background: linear-gradient(65deg, #DAF1E0 0%, rgba(218, 241, 224, 0) 100%);

            &::before {
                border-color: #379550;
            }
        }

        &.--above-average {
            background: linear-gradient(65deg, #90D5A2 0%, rgba(144, 213, 162, 0) 100%);

            &::before {
                border-color: #379550;
            }
        }

        &.--high {
            background: linear-gradient(65deg, #379550 0%, rgba(55, 149, 80, 0) 100%);

            &::before {
                border-color: #379550;
            }
        }

        &.active {
            &::before {
                visibility: visible;
                opacity: 1;
            }
        }

        &-changes {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &-value {
            color: #fff;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            font-weight: 600;
        }

        &-descr {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
        }

        &-g {
            width: 10rem;
            height: 10rem;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            span {
                max-width: 100%;
                max-height: 100%;
                min-width: 3.5rem;
                min-height: 3.5rem;
                background: rgba(43, 34, 255, .8);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.projects {
    max-height: 68.3rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #EFEFEF;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #CECECE;
        border-radius: 4px;
    }

    &__item {
        display: table;
        padding: 1rem 1.5rem;
        background: #EFEFEF;
        border-radius: 7px;
        line-height: 1.9rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background: #D0D0D0;
        }

        &.active {
            background: #2B22FF;
            color: #fff;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}